.aboutme {
  color: #222;
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutme-inner {
  display: grid;
  grid-template-columns: 1fr 1.5fr; /* 2 columns: image smaller, text larger */
  align-items: center;
  gap: 50px;
  max-width: 1100px;
  width: 100%;
  padding: 0 16px;
}

.aboutme-photo {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  justify-self: center;
}

.aboutme-photo:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.aboutme-text h1 {
  margin: 0 0 20px;
  font-size: 8rem;
  letter-spacing: 5px;
  font-family: 'Jersey 10', sans-serif;
  color: #0098ff;
  z-index: 1;
}


.aboutme-text p {
  margin: 0 0 18px;
  line-height: 1.6;
  color: #333;
  max-width: 100ch;
  z-index: 2;
  margin-top: -50px;
}

.btn-Resume {
  display: inline-block;
  background: #262127;
  color: #fff;
  padding: 10px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
}

.btn-Projects {
  display: inline-block;
  background: #eec643;
  color: #fff;
  padding: 10px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
}

/* Responsive: stack content vertically */
@media (max-width: 800px) {
  .aboutme-inner {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .aboutme-photo {
    max-width: 320px;
    margin: 0 auto;
  }

  .aboutme-text p {
    max-width: none;
  }

  .aboutme-text h1{
    font-size: 4rem;
    margin-top: -50px;
    margin-bottom: 50px;
  }
}

@media (max-width: 420px) {
  .aboutme {
    padding: 36px 12px;
  }

  .aboutme-text h2 {
    font-size: 1.5rem;
  }

  .btn-primary {
    padding: 8px 12px;
  }
}
