.personal-projects {
  background: #262127;
  color: #e0e0e0;
  padding: 80px 8%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.personal-projects-inner {
  width: 100%;
  text-align: left;
}

.personal-projects-inner h1 {
  margin: 0 0 40px;
  font-size: 4rem;
  letter-spacing: 5px;
  font-family: 'Jersey 10', sans-serif;
  color: #00b3ff;
}

/* GALLERY STYLES */
.project-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* exactly 3 columns */
  gap: 25px;
  width: 100%;
}

.project-gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  box-shadow: 0 6px 16px rgba(255, 255, 255, 0.14);
}

/* Hover effect for images */
.project-gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgb(52, 143, 255);
}


/* Lightbox overlay (fullscreen view) */
.lightbox {
  display: none;
  position: fixed;
  z-index: 9999;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lightbox-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  padding: 0 40px;
}


@media (max-width: 900px) {
  .project-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .project-gallery {
    grid-template-columns: 1fr;
  }
}
